@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


/* Setting all widths for elements, we use the wildcard asterisk - standard practice*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
  font-family: Lato;
  color: #777777;
}

h2{
  font-family: "Special Elite";
  letter-spacing: 0px;
  color: #555555;
}

#logo
{
  float: left;
  font-size: 280%;
  margin-left: 30px;
  padding-top: 5px;
}



#menu {
font-size: 110%;
/* gets rid of the bulletpoints */
list-style-type: none;
letter-spacing: 4px;
}

#menu li {
  /* float right here sends home to the far right, which is why we flip them in the html,
  or better yet float the ul itself */
  margin-right: 30px;
  float: left;

}

/*floated the ul with this, but needed to float the items left so that they dont stack*/
#mainmenu {
  float: right;
}


#logo, #menu {
  line-height: 75px;

}

/* here we target the menu children, removing the underlines, inherit the body colour, horizontally align the header also - matching line height with logo above   */
#menu a {
  text-decoration: none;
  color: inherit;
}

/* This is a pseudoclass which allows us to change how html works. We hover over the links and they underline for us */
#menu a:hover {
  border-bottom: 1px solid #777777;
}

/* this shows what page you are currently on, so is active when you are there */
.active{
  border-bottom: 1px solid #777777;
}

#menu .icon {
  display: none;
}

.navbar-toggler {
  background-color: rgba(0, 0, 255, 0.25);
  color: #fff;
}

/* ---------------------------------------------------Top Image */
.hero-container {
  height: 70vh;

    background: url('../Images/abstract-analog-art-camera-390089.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.hero-container-booking {
  background: url('../Images/movie-seats.jpg') no-repeat bottom right fixed;
  background-size: cover;
}

.hero-container-vote {
  background: url('../Images/vote.jpg') no-repeat bottom right fixed;
  background-size: cover;
}

.hero-container-about {
  background: url('../Images/about.jpg') no-repeat bottom right fixed;
  background-size: cover;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.jumbotron .lead {
    color: #fafafa;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/* ---------------------------------------------------Dividers */

.block-divider {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  width: 20%;
  background-color: #777777;
}

.block-divider-white {
  background-color: #fff;
}

.block-divider-bottom-margin {
  margin-bottom: 20px;
}

/* Buttons */

/*require an ID on this main one due to an inherit class for "a links" located within the notes of bootstrap */
#mainbutton {
  color: white;
}

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--green {
    color: white;
    background-color: green;
    border-color: green;
}

.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:active:focus {
    background-color: darkgreen;
    border-color: darkgreen;
    color: white;
}

.suggestion-button {
  margin-top: 10px;
  
}

/* ---------------------------------------------------Buttons */
.btn-group-sm {
  padding-top: 10px;
  text-align: center;
}


/* ---------------------------------------------------Schedule Cards */

.schedule-text {
  text-align: center;
  padding-top: 30px;
}

.card-deck {
  padding: 10px;
  margin-bottom: 10px;
}

.card-deck .card {
  padding: 10px;
}

.card-title {
  font-size: 120%;
  padding-top: 5px;
}

.card-img-top-book {
  height: 10vw;
  object-fit: cover;
}

.card-text-no-space{
  margin-bottom: 0;
}

.vote-columns {
  padding: 15px;
}

.suggestion-box {
  width: 70%;
  margin: 0 auto;
  
}

/*
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

*/

/*
.card-img-top {
width: 100%;
height: 40vh;
object-fit: cover;
}

*/

/* ---------------------------------------------------Schedule Icons */

.imdb-rating {
  font-size: 300%;
  text-align: center;
  color: #777777;
}

.imdb-rating:hover {
  color: #666666;
}


/* ---------------------------------------------------Forms */

.custom-select-sm {
  margin-bottom: 5px;
}

/* ---------------------------------------------------Map */

.map-container {
  width: 70%;
  margin: 0 auto;
}


/* ---------------------------------------------------Footer */

.footer-container {
  background-color: #777777;
  
}

#logo-footer {
  text-align: center;
  font-size: 150%;
  padding-top: 20px;
  color: #fff;

}

.footer-container p {
  color: #fff;
  text-align: center;
  font-size: 80%;
}

.social-networks {
  text-align: center;
}

.social-networks li{
  display: inline;
}

/* This i target, targets the icons themselves */
.social-networks li a i {
  font-size: 160%;
  margin: 2%;
  
  color: #fff;
}


/* Media Queries*/


/* Continue testing logo and menu breakpoints*/

@media screen and (max-width: 1000px){
  #menu li{
    font-size: 100%
  }
  #logo
  {
    font-size: 250%;
  }
}

@media screen and (max-width: 600px) {
  #menu li{
    font-size: 75%
  }
  #logo{
    font-size: 180%;
  }
}

@media screen and (max-width: 600px) {
  #menu.responsive {position: relative;}
  #menu.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  #menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
