@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


/* Setting all widths for elements, we use the wildcard asterisk - code institute standard practice*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
  font-family: Lato, sans-serif;
  color: #595959;
}

#logo
{
  float: left;
  font-size: 280%;
  margin-left: 30px;
  padding-top: 5px;
  font-family: "Special Elite", sans-serif;
  letter-spacing: 0px;
  color: #555555;
}

/* Remove bulletpoints and ensure appropriate spacing */

#menu {
font-size: 110%;
list-style-type: none;
letter-spacing: 4px;
}

/* floating the list items here to ensure that they are appropriately ordered with the menu itself being floated right. This can flip the elements. */
#menu li {
  margin-right: 30px;
  float: left;

}

/*As above, menu float here and elements floated above, preventing them displaying in reverse order*/
#mainmenu {
  float: right;
}


#logo, #menu {
  line-height: 75px;

}

/*  
Underlining behaviour for the menu items, both on hover and on the currently active page. Style learned through the Love Running course which fits with the theme here. */
#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid #777777;
}

.active{
  border-bottom: 1px solid #777777;
}

/* ---------------------------------------------------Top Image - attributations found in html code and readme. */
.hero-container {
  height: 70vh;

  background: url('../Images/abstract-analog-art-camera-390089.jpg') no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-container-booking {
  background: url('../Images/movie-seats.jpg') no-repeat bottom right fixed;
  background-size: cover;
}

.hero-container-vote {
  background: url('../Images/vote.jpg') no-repeat bottom right fixed;
  background-size: cover;
}

.hero-container-about {
  background: url('../Images/about.jpg') no-repeat bottom right fixed;
  background-size: cover;
}

/* Overlay added to the header image, ensuring that we have enough contrast to view the text */
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.60);
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h2 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: #fff;
    margin: 25px 0;
}

/* ---------------------------------------------------Dividers */

.block-divider {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  width: 20%;
  background-color: #777777;
}

.block-divider-white {
  background-color: #fff;
}

.block-divider-bottom-margin {
  margin-bottom: 20px;
}

/* ---------------------------------------------------Buttons */

/*require an ID on this main one due to an inherit class for "a links" located within the notes of bootstrap */
#mainbutton {
  color: white;
}

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--green {
    color: #fff;
    background-color: green;
    border-color: green;
}

.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:active:focus {
    background-color: darkgreen;
    border-color: darkgreen;
    color: #fff;
}

.suggestion-button {
  margin-top: 10px;
  
}

/* ---------------------------------------------------Buttons */
.btn-group-sm {
  padding-top: 10px;
  text-align: center;
}


/* ---------------------------------------------------Schedule Cards */

.schedule-text {
  text-align: center;
  padding-top: 30px;
  font-size: 1.75rem;
}

.card-deck {
  padding: 10px;
  margin-bottom: 10px;
}

.card-deck .card {
  padding: 10px;
}

.card-title {
  font-size: 120%;
  padding-top: 5px;
}

.card-img-top-book {
  height: 10vw;
  object-fit: cover;
}

.card-text-no-space{
  margin-bottom: 0;
}

.vote-columns {
  padding: 15px;
}

.suggestion-box {
  width: 70%;
  margin: 0 auto;
  
}

.who-we-are-card {
  width: 70%;
  margin: 0 auto;
}


/* -------------------------------------------------Schedule Icons */

.imdb-rating {
  font-size: 300%;
  text-align: center;
  color: #777777;
  
}

.imdb-rating:hover {
  color: #666666;
}

.imdb-rating-vote {
  font-size: 250%;
}


/* ---------------------------------------------------Forms */

.custom-select-sm {
  margin-bottom: 5px;
}

/* ---------------------------------------------------Map */

.map-container {
  width: 70%;
  margin: 0 auto;
}

.location-text {
  font-size: 80%;
  text-align: center;
}

.location-text a {
  color: #fff;
}


/* ---------------------------------------------------Footer */

.footer-container {
  background-color: #595959;
  
}

#logo-footer {
  font-family: "Special Elite", sans-serif;
  text-align: center;
  font-size: 150%;
  padding-top: 20px;
  color: #fff;

}

.footer-container p {
  color: #fff;
  text-align: center;
  font-size: 80%;
}

/* ------------------------------------------------ Footer Icons */

.social-networks {
  text-align: center;
}

.social-networks li{
  display: inline;
}

.social-networks li a i {
  font-size: 160%;
  margin: 2%;
  
  color: #fff;
}


/* Media Queries*/


/* On smaller screens, the eye catching page headers take up too much space, making this section - reducing menu, logo, header text and cta button smaller.*/

@media screen and (max-width: 1000px){
  #menu li{
    font-size: 100%
  }
  #logo
  {
    font-size: 250%;
  }

  .jumbotron h2 {
    font-size: 1.8rem;
  }

  .jumbotron p {
    font-size: 1rem;
  }

  .btn-lg {
    font-size: 1rem;
  }

  .btn--cta {
    width: 120px;
  }
}

/* As screen size is reduced, the card images can get too thin and the logo and top nav takes up too much space, making this section needed */
@media screen and (max-width: 580px) {
  #menu li{
    font-size: 75%
  }
  #logo{
    font-size: 180%;
  }

  .card-img-top-book
  {
    height: 35vw;
  }
}

/* It was found in testing that the nav became inaccessible on very small but wide screens. It was deemed that a functional nav was more important than the hero image so that the site remains functional */
@media screen and (max-height: 300px) {
  .hero-container {
    display: none;
  }
}

